/* layout styles */

body {
  width: 100%;
  height: 100%;
  border: none;
}

header {
  width: 100%;
  height: 75px;
  line-height: 75px;
}

#page, main, #content {
  width: 100%;
}

article {
  width: 100%;
}

#top article {
  height: 125px;
  line-height: 125px;
}

#b {
  height: 150px;
  line-height: 150px;
}

#bottom {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#bottom article {
  width: 50%;
  height: 250px;
  line-height: 250px;
}

footer {
  width: 100%;
  height: 80px;
  line-height: 80px;
}

@media all and (min-width: 768px) and (max-width: 1024px){
  #top {
    display: flex;
    flex: wrap;
    width: 100%;
  }
  
  #top article {
    width: 50%;
    height: 300px;
    line-height: 300px;
  }
}

@media all and (min-width: 1024px){
  body {
    width: 100%;
    max-width: 960px;
    min-width: 480px;
    height: fit-content;
  }
  
  #page {
    display: flex;
    flex: wrap;
    width: 100%;
  }

  div {
    width: 100%;
  }

  header {
    width: 100%;
    height: 100px;
    line-height: 100px;
  }
  
  section {
    width: 100%;
  }

  article {
    width: 100%;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  #b {
    width: 200px;
    height: 600px;
    line-height: 600px;
  }

  #content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    width: calc(100% - 200px);
  }

  #top {
    display: flex;
    flex-wrap: wrap;
  }

  #top article {
    width: 50%;
    height: 200px;
    line-height: 200px;
  }
  
  #bottom {
    display: flex;
    flex-wrap: wrap;
  }
  
  #bottom article {
    width: 25%;
    height: 250px;
    line-height: 250px;
  }
  
  footer {
    height: 150px;
    line-height: 150px;
  }
}